* {
  font-family: Helvetica;
  text-align: center;
}

#index {
  background-image: url(the-flatiron-building.png);
}

h1 {
  font-size: 70px;
  color: white;
}

ul {
  list-style: none;
}

h1, h2, h3 {
  font-weight: bold;
}

ul a {
  font-size: 18px;
  color: white;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

p {
  font-size: 14px;
}

#NY {
  color:white;
  background-image: url(the-flatiron-building.png);
}

h4 {
  background-color: dimgray;
  text-align: left;
  color: white;
  font-size: 11px;
}

h4 a {
  color: white;
}
